.popup__input {
	display: flex;
	word-wrap: break-word;
	font-weight: normal;
	font-size: 14px;
	line-height: 17px;
	width: 100%;
	padding: 5px 0 5px;
	border: none;
	outline: none;
	background-color: rgb(168, 170, 170);
	cursor: pointer;
	border-radius: 0 0 10px 10px;
}